{% extends 'ticketapp/base.html' %}
{% block content %}

          <!-- Begin Page Content -->
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Helpdesk</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Open Issues</h6>
              </div>
              {% include 'ticketapp/parts/table.html' %}
            </div>
          </div>
          <!-- /.container-fluid -->
        <!-- End of Main Content -->

       {% endblock content %}