
{% extends 'ticketapp/base.html' %}
{% block content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{setup.site_title}}</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Urgent Issues</h6>
      </div>
      {% include 'ticketapp/parts/table.html' %}
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock content %}